html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.crud-btn {
 width: 25%;
 margin: 3px;
}

.crud-btn-set{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.a_btn {
    width: 100% !important;
}